{% extends 'base.html' %} {% block content %}
    <div class="container">
        <form method="POST">
            {% csrf_token %}
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Наименование: {{ product.product }}</h5>
                            <p class="card-text"><small class="text-muted">Категория: <a class="card-text btn btn-link" href="{% url 'cat_products_list' product.category %}">{{ product.category }}</a></small></p>
                            <div style="display: flex; flex-wrap: wrap;">
                                {% if product.description %}
                                    <textarea cols="50" rows="10" class="card-text"
                                              readonly>Описание: {{ product.description }}</textarea>
                                {% else %}
                                    <p class="card-text">Описание продукта не задано</p>
                                {% endif %}
                            </div>
                            {% load l10n %}
                            <p class="card-text">Стоимость: {{ product.price|unlocalize }} $</p>
                            <p class="card-text">Остаток: {{ product.remains }} шт.</p>
                            <p class="card-text"><small class="text-muted">Дата
                                добавления: {{ product.created_at|date:'d.m.Y' }}</small>
                            </p>
                            <a style="color: white; text-decoration: none" class="btn btn-success"
                               href='{% url 'product_edit' product.pk %}'>Редактировать</a>
                            <a type="button" class="btn btn-danger" data-bs-toggle="modal"
                               data-bs-target="#exampleModal">
                                Удалить
                            </a>
                        </div>

                    </div>

                </div>
            </div>
            <div class="container">
                <a style="color: white; text-decoration: none" class="btn btn-dark" href="{% url 'product_list' %}">Вернуться
                    в продукты</a>
            </div>
        </form>
    </div>
    {% include 'common/delete_modal.html' with deleted_object=product %}
{% endblock %}