{% extends 'base.html' %} {% block content %}
    <div class="container">
        <h3>Добро пожаловать в магазин Bon Ton</h3>
        <div class="row row-cols-1 align-items-start">
            {% for product in products %}
                <div class="col py-3">
                    <div class="card" style="border: 1px solid black;">
                        <div class="row">
                            <div class="col-md-4 px-3">
                                <div class="card-body">
                                    <h5 class="card-title">{{ product.product }}</h5>
                                    <p>Наименование категории: <a class="card-text btn btn-link"
                                                                  href="{% url 'cat_products_list' product.category %}">{{ product.category }}</a>
                                    </p>
                                    {% load l10n %}
                                    <p>Стоимость: {{ product.price|unlocalize }} $</p>
                                    <p>Остаток: {{ product.remains }} шт.</p>
                                    <a href="{% url 'product_detail' product.pk %}" class="btn btn-dark">Подробнее</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% if is_paginated %}
        {% include 'common/pagination.html' %}
    {% elif not products %}
        <div class="col py-4" style="text-align: center; color: red">
            <h4>Ошибка 404: по данному поиску: "{{ form.search.value }}"</h4>
            <h4>задачи не найдены</h4>
        </div>
    {% endif %}
{% endblock %}
