{% extends 'base.html' %} {% block content %}
    <div class="container">
        <form action="{% url 'category_add' %}" method="POST">
            {% csrf_token %}
            <button type="button" class="btn btn-info"><a style="color: white; text-decoration: none"
                                                          href="{% url 'product_list' %}">Back to tasks</a></button>
            <div class="col md-6">
                <h5 class="create_text">Create a new category:</h5>
            </div>
            <div class="card col-md-6">
                <label for="category">Категория</label>
            </div>
            <div class="card col-md-6">
                <input type="text" id='category' name="category" required/>
            </div>
            <div class="card col-md-6">
                <label for="description">Description</label>
            </div>
            <div class="card col-md-6">
                <textarea cols="30" rows="10" type="text" id='description' name="description"></textarea>
            </div>
            <div class="card col-md-6">
                <input type="submit" value="Add category"/><br/>
            </div>
        </form>
    </div>
{% endblock %}