{% extends 'base.html' %} {% block content %}
    <div class="container">
        <form method="POST">
            {% csrf_token %}
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{{ product.image }}" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.product }}</h5>
                            <p class="card-text"><small class="text-muted">{{ product.category }}</small></p>
                            {% if product.description %}
                                <p class="card-text">{{ product.description }}</p>
                            {% else %}
                                <p class="card-text">Описание продукта не задано</p>
                            {% endif %}
                            <p class="card-text">{{ product.price }}</p>
                            <p class="card-text"><small class="text-muted">{{ product.created_at }}</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <a style="color: white; text-decoration: none" class="btn btn-info" href="{% url 'product_list' %}">Back
                    to tasks</a>
            </div>
        </form>
    </div>
{% endblock %}