{% extends 'base.html' %} {% block content %}
    <div class="container">
        <form method="POST">
            {% csrf_token %}
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{{ product.image }}" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Наименование: {{ product.product }}</h5>
                            <p class="card-text"><small class="text-muted">Категория: {{ product.category }}</small></p>
                            <div style="display: flex; flex-wrap: wrap;">
                                {% if product.description %}
                                    <textarea cols="50" rows="10" class="card-text"
                                              readonly>Описание: {{ product.description }}</textarea>
                                {% else %}
                                    <p class="card-text">Описание продукта не задано</p>
                                {% endif %}
                            </div>
                            <p class="card-text">Стоимость: {{ product.price }} $</p>
                            <p class="card-text"><small class="text-muted">Дата
                                добавления: {{ product.created_at|date:'d.m.Y' }}</small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <a style="color: white; text-decoration: none" class="btn btn-dark" href="{% url 'product_list' %}">Вернуться
                    в продукты</a>
            </div>
        </form>
    </div>
{% endblock %}