{% extends 'base.html' %} {% block content %}
    <div class="container">
        <form method="GET">
            {% csrf_token %}
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title" style="color: red">Ошибка ввода данных:</h5>
                            <p>- пустое значение</p>
                            <p>- поле суммы не цифры</p>
                            <p>- ссылка изображения должен начатся с <b>HTTPS</b>, ссылка не корректна</p>
                        </div>
                        <a style="color: white; text-decoration: none" class="btn btn-dark"
                           href="{% url 'product_add' %}">Вернуться
                            добавление продукта</a>
                    </div>
                </div>
            </div>
    </div>
    </form>
    </div>
{% endblock %}